<!-- Data Binding
    - String Interpolation, Property Binding
    Getting Access to Variables in your ts File
-->

<!-- String Interpolation 
    - if you want to output something in your template print some text to it
    - if you want to change some property, use property binding
-->


<p>{{'server'}} with id {{serverId}} is {{serverStatus}}</p>

<!-- Property Binding
    - Dom Element changes based on a Variable, as soon as it changes
    - change at run time
    - disables html attribute is set to the Variable "allowServer"
        - with this you never have to do document.getElement by, then change this ...
-->

<button btn btn-primary [disabled]="!allowServer">Add Server</button>


<!-- Event Binding 
    - Call a function on Click
-->

<div>
    <button btn btn-secondary (click)="onCreateServer()">Create</button>
    <button (click)="onCloseServer()">Close</button>
</div>

<!-- Event Binding for Inputs, with Parameter -->
<input type="text" (input)="onUpdateStatus($event)">


<!-- Two Way Binding -->

    <!-- Ng Model -->
<p>Two Way Databinding</p>
<input type="text" [(ngModel)]="inputName">
<h3>{{inputName}}</h3>


<!-- Directives, ngIf -->

<p *ngIf="serverCreated; else noServer">
    Hello World
</p>

<ng-template #noServer>
    <p >
        No Server to see here. Move on!
    </p>
</ng-template>

<!-- ngStlye -->

<p [ngStyle]="{'background-color' : 'red'}">Styling</p>

<!-- ngClass TODO -->

<!-- <p [ngClass]="className : conditional === true">Styling</p> -->


<!-- ngFor TODO -->

<p *ngFor="let i of arrayName">
    For Loop {{i}}
</p>

<!-- ngSwitch TODO-->

...


<!-- Observables TODO -->

<!-- Pipes TODO -->


<p *ngFor="let i of arrayName">
    For Loop {{i}}
</p>